      body {
        font-size: 16px;
      }

      h1 {
        font-size: 65px;
        font-family: sans-serif;
        color: orange;
      }

      p {
        font-weight: 600;
        font-size: 3em;
        font-style: italic;
        line-height: 20px;
        padding: 30px;
        text-decoration: peru;
      }

      li {
        background-color: papayawhip;
        line-height: 1.5em;
      }

     .bgcolor {
        background-color:paleturquoise;
     } 

     .yellow {
        background-color: yellow;
     }

     .red {
       background-color: red;
     }

     .brown {
       background-color: brown;
     }